name: CI

on:
  push:
    branches: [ master, staging, trying ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
    - uses: actions/checkout@v2
    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        profile: minimal
        components: rustfmt
    - name: Build Crates
      run: cargo test
      env:
        RUSTFLAGS: --deny warnings

  ci:
    if: ${{ success() }}
    # all new jobs must be added to this list
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: CI succeeded
        run: exit 0
